* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: "light";
  src: url("../fonts/ArbFONTS-Montserrat-Arabic-Light.ttf");
}

@font-face {
  font-family: "regular";
  src: url("../fonts/ArbFONTS-Montserrat-Arabic-Regular.ttf");
}

@font-face {
  font-family: "semibold";
  src: url("../fonts/ArbFONTS-Montserrat-Arabic-SemiBold.ttf");
}

@font-face {
  font-family: "medium";
  src: url("../fonts/ArbFONTS-Montserrat-Arabic-Medium.ttf");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/ArbFONTS-Montserrat-Arabic-Bold.ttf");
}
body {
  direction: rtl;
}

.home header {
  background-color: #56a0dd;
}
.home  {
height: 100vh;
}
.home header .socia-media {
  background-color: #56a0dd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 0;
}
.home header .socia-media a{
text-decoration: none;
color: white;
}

.home header .socia-media .phones {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.home header .socia-media .phones p {
  margin: 0 1rem;
}
.home header .socia-media .logo svg{
  margin: 0 .5rem;
}
